{% extends 'base.html' %}

{% block content %}

<div  class="LR-container"  style="height:75px; display:flex; flex-direction:column; " >
    <h1 style="margin:10px auto; color:#242250; font-weight: 900; ">My Direct Report Details</h1>
    <div style="margin:-10px auto;color:#2D49E8;font-weight: bold;" >
        <span>{{myDRuserdetail[2]}}</span>
        <span>{{myDRuserdetail[3]}}</span>
    </div>
</div>
<div style="margin-top:-30px;">
    <div style="width:120%;" >
        <div  class="LR-container"  style="display:flex; align-items: center;justify-content:space-around; font-size:14px; width:50%;height:35px;color:black;margin-bottom: -50px;" >
            <p style="margin-top:12px;">Basic Info</p>
        </div>
        <div  class="LR-container"  style="height:auto;width:50%; display:flex; align-items: center;justify-content:space-around; font-size:14px; background-color: white;box-shadow: none; border: 1px solid rgb(214, 214, 214);" >
            <div style="width:70%; display:flex; flex-direction:column; ">
                <div style="text-align: left;" >Employee ID: <span style="color:#2D49E8; font-size: 14px; font-weight: 400;" >{{myDRuserdetail[0]}}</span></div> 
                <div style="text-align: left;">Email: <span style="color:#2D49E8; font-size: 14px; font-weight: 400;" >{{myDRuserdetail[4]}}</span></div>
                <div style="text-align: left;">Join Date: <span style="color:#2D49E8; font-size: 14px; font-weight: 400;" >{{myDRuserdetail[5]}}</span></div>
            </div>
        </div>
    </div>
</div>
<div style="margin-top:-30px;">
    <div style="width:120%;" >
        <div  class="LR-container"  style="display:flex; align-items: center;justify-content:space-around; font-size:14px; width:50%;height:35px;color:black;margin-bottom: -50px;" >
            <p style="margin-top:12px;">Role</p>
        </div>
        <div  class="LR-container"  style="height:auto;width:50%; display:flex; align-items: center;justify-content:space-around; font-size:14px; background-color: white;box-shadow: none; border: 1px solid rgb(214, 214, 214);" >
            <div style="width:70%; display:flex; flex-direction:column; ">
                <div style="text-align: left;" >Department: <span style="color:#2D49E8; font-size: 14px; font-weight: 400;" >{{myDRuserdetail[8]}}</span></div> 
                <div style="text-align: left;">Title: <span style="color:#2D49E8; font-size: 14px; font-weight: 400;" >{{myDRuserdetail[6]}}</span></div>
                <div style="text-align: left;">Position Start Date: <span style="color:#2D49E8; font-size: 14px; font-weight: 400;" >{{myDRuserdetail[7]}}</span></div>
            </div>
        </div>
    </div>
</div>
<div style="margin-top:-30px;">
    <div style="width:120%;" >
        <div  class="LR-container"  style="display:flex; align-items: center;justify-content:space-around; font-size:14px; width:50%;height:35px;color:black;margin-bottom: -50px;" >
            <p style="margin-top:12px;">Report To</p>
            <p style="margin-top:12px;">Approval Manager</p>
        </div>
        <div  class="LR-container"  style="height:auto;width:50%; display:flex; align-items: center;justify-content:space-around; font-size:14px; background-color: white;box-shadow: none; border: 1px solid rgb(214, 214, 214);" >
            <div style="width:50%; display:flex; flex-direction:column; ">
                <div style="text-align: center;" ><span style="color:#2D49E8; font-size: 14px; font-weight: 400;" >{{myDRuserdetail[10]}} {{myDRuserdetail[11]}}</span></div> 
                <div style="text-align: center;"><span style="color:#2D49E8; font-size: 14px; font-weight: 400;" >{{myDRuserdetail[12]}}</span></div>
            </div>
            <div style="width:50%; display:flex; flex-direction:column; ">
                <div style="text-align: center;" ><span style="color:#2D49E8; font-size: 14px; font-weight: 400;" >{{myDRuserdetail[14]}} {{myDRuserdetail[15]}}</span></div> 
                <div style="text-align: center;"><span style="color:#2D49E8; font-size: 14px; font-weight: 400;" >{{myDRuserdetail[16]}}</span></div>
            </div>
        </div>
    </div>
</div>

<div style="margin:50px auto; text-align: center;">
    <div>
        <a style="margin-right:20px;" href="/manager/mydirectreports" class="customizedButton">My Direct Reports List</a>
    </div>
</div>
<div style="margin:50px auto; text-align: center;">
    <div>
        <a style="margin-right:20px;" onclick="history.back()" class="customizedButton">Back</a>
    </div>
</div>


{% endblock %} 