{% extends 'base.html' %}


{% block content %}

<div class="main-container">
    <div class="LR-containerREPORT" style="height:75px; margin-left:40px; width:90%; display:flex; flex-direction:column; ">
        <h1 style="margin:20px auto; color:#242250; font-weight: 900; text-align: center; ">My Direct Reports</h1>
    </div>
    <div class="search-container" style="margin:20px auto; text-align: center;">
        <input type="text" id="search_name" onkeyup="search_any_field()" placeholder="Search by name..">
        <a style="text-align: center;" href="/dashboard?id={{session.id}}" class="customizedButton">Back to Dashboard</a>
    </div>
    <div style="margin-top:-30px;">
        <div style="width:130%; margin-left:-120px;">
            <div class="LR-containerREPORT"
                style="height:auto;width:70%; display:flex; align-items: center;justify-content:space-around; background-color: white;box-shadow: none; border: 1px solid rgb(214, 214, 214); overflow:auto; ">
                <div style="width:100%; display:flex; flex-direction:column; ">
                    <table class="table" id="myTable">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Position</th>
                                <th>Department Name</th>
                                <th>Supervisor Name</th>
                                <th>Leave Balance</th>
                                <th>Leave Requests</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for e in mydirectreports%}
                            <tr>
                                <td><a class="button-action" href="/manager/myDRdetail?id={{e[0]}}">{{e[1]}}.{{e[2]}}
                                        {{e[3]}}</a></td>
                                <td>{{e[5]}}</td>
                                <td>{{e[7]}}</td>
                                <td>{{e[8]}} {{e[9]}}</td>
                                <td><a class="button-action text-center"
                                        href="/manager/myDRLeaveBalance?id={{e[0]}}">Balance</a></td>
                                <td><a class="button-action" href="/manager/request_log_employee?id={{e[0]}}">Requests</a>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>


        <!-- script to set up search by name for employees directly reporting to you as an approval manager -->
        <script>
            function search_any_field() {
                // Declare variables 
                var input_1, filter_1, table, tr, td, i, txtValue;
                input_1 = document.getElementById("search_name");
                filter_1 = input_1.value.toUpperCase();

                table = document.getElementById("myTable");
                tr = table.getElementsByTagName("tr");

                // Loop through all table rows, and hide those who don't match the search query
                for (i = 0; i < tr.length; i++) {
                    td_1 = tr[i].getElementsByTagName("td")[0];

                    if (td_1) {
                        txtValue_1 = td_1.textContent || td_1.innerText;
                        if (txtValue_1.toUpperCase().indexOf(filter_1) > -1) {
                            tr[i].style.display = "";

                        } else {
                            tr[i].style.display = "none";
                        }
                    }
                }
            }

            function search_name() {
                // Declare variables 
                var input, filter, table, tr, td, i, txtValue;
                input = document.getElementById("search_name");
                filter = input.value.toUpperCase();
                table = document.getElementById("myTable");
                tr = table.getElementsByTagName("tr");

                // Loop through all table rows, and hide those who don't match the search query
                for (i = 0; i < tr.length; i++) {
                    td = tr[i].getElementsByTagName("td")[1];
                    if (td) {
                        txtValue = td.textContent || td.innerText;
                        if (txtValue.toUpperCase().indexOf(filter) > -1) {
                            tr[i].style.display = "";
                        } else {
                            tr[i].style.display = "none";
                        }
                    }
                }
            }

        </script>
        {% endblock %}