{% extends 'base.html' %}

{% block content %}


<div class="main-container">
    <button type = "button" class="customizedButton" onclick="history.back()">Back</button>
    <br>
    
    <table class="table table-hover">
        <tr><th>Payroll Week</th><th>Status</th><th>Start Date</th><th>End Date</th><th>Processed Date</th><th>Processed by Admin</th><th>Action</th></tr>
        {% for i in payrollweeks %}
            {% if i[7] == 'Processed' %}
                <tr><td>{{i[0]}}</td><td>{{i[7]}}</td><td>{{i[1]}}</td><td>{{i[2]}}</td><td>{{i[4]}}</td><td>{{i[5]}} {{i[6]}}</td><td></td></tr>
            {% elif i[7] == 'To be Processed' %}
                <tr><td>{{i[0]}}</td><td>{{i[7]}}</td><td>{{i[1]}}</td><td>{{i[2]}}</td><td></td><td></td><td><a class="customizedButton" href="/admin/addbalance?uid={{session.id}}&wk={{i[0]}}&action=1">Process</a></td></tr>
            {% else %}
                <tr><td>{{i[0]}}</td><td>{{i[7]}}</td><td>{{i[1]}}</td><td>{{i[2]}}</td><td></td><td></td><td></td></tr>
            {% endif %}
        {% endfor %}
        </table>

    <table hidden class="table table-hover">
    <tr><th>ID</th><th>AL Hours</th><th>SL Hours</th><th>Approved Request not Paid</th></tr>
    {% for i in leaveBalance_all %}
    <tr><td>{{i[0]}}</td><td>{{i[1]}}</td><td>{{i[3]}}</td><td>{{countpendingapproval_dict[i[0]]}}</td></tr>
    {% endfor %}
    </table>

<br>
</div>


{% endblock %}